AltAzRange
aprslib
boto3
cherrypy
contextily
dateparser
elevation
fastparquet
folium
geocoder
geographiclib
geopandas
matplotlib
numpy
pandas
Pillow
pyarrow
pyproj
pytest
pytest-asyncio
pyyaml
requests
simplekml
rasterio
sondehub
