[Unit]
Description=Send sonde landing emails

[Service]
Type=oneshot
User=jelson
Environment=AWS_PROFILE=sonde-notifier
MemoryMax=2G
ExecStart=/home/jelson/miniforge3/envs/sondesearch/bin/python -u /home/jelson/projects/sonde-search/website/backend/src/send_sonde_email.py --really-send
