[Unit]
Description=Sondesearch API
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/home/jelson/projects/sonde-search/website/backend/config
ExecStart=uwsgi --ini ./uwsgi.conf
User=jelson

[Install]
WantedBy=multi-user.target

